em{
    color: rgb(221, 33, 33);
    font-weight: bold;
}

fieldset{
    width: 400px;
    margin: 15px auto;
    border: 4px double black;
    padding: 15px;
  
}
legend{
    font-size: 22px;
    color: rgb(10, 10, 10);
    text-shadow: 2px 1px 5px rgb(102, 97, 97);
    text-decoration: dotted;

}
label{
    width: 150px;
    display: inline-block;
    font-size: 18px;
    padding: 5px;
    border-bottom: 1px solid black;

}
input[type]:focus {
    background-color: rgb(82, 69, 90);
    font-size: 18px;
}
input[type="reset"], input[type="submit"] {
    font-size: 18px;
    padding: 5px;
    font-family:monospace;
    background-color: rgb(213, 227, 230);
    border: 2px dotted rgb(22, 21, 22);
    border-radius: 20px;
}
input[type="reset"]:hover{
    background-color: rgb(34, 33, 32);
}
.przyciski{
    width: 250px;
    margin: auto;
   
}
